* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.Header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: opacity .3s linear;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Header_Content {
    width: 100%;
    max-width: 71.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    padding: 1.25rem 1.5rem;
}

.Header_Nav {
    display: flex;
}

.Header_Nav_Button {
    padding: 0 1rem;
    font-weight: 700;
    color: hsla(0, 72%, 40%, 0.7);
    line-height: 2rem;
}

.Header_Nav_Button:hover {
    border-color: #333;
}
